.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
  background-color: #342c3e;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 0 rgba(0,0,0,.1);
  margin-bottom: 30px;
}

.navbar-brand {
  color: #b9b2d0;
}

.sidebar {
  margin-bottom: 30px;
}

.sidebar h3 {
  color: #968ba0;
  font-size: 12px;
  margin-top: 0;
}

.sidebar ul + h3 {
  border-top: 1px solid #e2dee6;
  padding-top: 30px;
  margin-top: 25px;
}

.sidebar a {
  color: #493e54;
  font-size: 16px;
}

.sidebar a:hover {
  color: #343c45;
}

.sidebar a.active {
  font-weight: bold;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer {
  border-top: 1px solid #e2dee6;
  color: #625471;
  padding: 28px 0;
}
