<h2>
  Feature Flags
  <div class="pull-right">
    <a class="btn btn-default" role="button" [routerLink]="['/features/new']">Create</a>
  </div>
</h2>

<p>
  {{error}}
</p>

<div class="panel panel-default">
  <ul class="list-group">
  	<li *ngFor="let feature of features" class="list-group-item feature-list-item">
      <a [routerLink]="['/features', feature.name]">{{feature.name}}</a>

      <div class="pull-right">
        <span
          *ngFor="let item of feature.status | itermap"
          class="label"
          [ngClass]="{'label-default': !item.value, 'label-success': item.value}">
          {{item.key}}
        </span>
      </div>

      <p>Created {{feature.created_at | amTimeAgo}}</p>
    </li>
  </ul>
</div>
