.feature-title {
  margin-bottom: 0;
}

.feature-details {
  color: #968ba0;
}

.status-item-name {
  font-size: 15px;
  line-height: 33px;
  text-transform: capitalize;
}

.status-item-key {
  color: #968ba0;
  font-size: 11px;
}
