<dom-module id="feature-page-environment-status">
  <template>
    <div>
      <content select=".name"></content>
      <input id="status" type="checkbox" checked={{enabled}}>
    </div>
  </template>

  <script>
  Polymer({
    is: 'feature-page-environment-status',
    properties: {
      enabled: {
        type: Boolean,
        value: false
      }
    },

    getName: function() {
      return Polymer.dom(this).querySelector('.name').innerHTML;
    },

    getStatus: function() {
      return this.$.status.checked;
    }
  });
  </script>
</dom-module>

<dom-module id="feature-page">
  <template>
    <div id="error"></div>
    <h1><content select=".name"></content></h1>
    <h5><content select=".created-at"></content></h5>
    <content select="feature-page-environment-status"></content>
    <button on-click="formSubmit">Submit</button>
  </template>

  <script>
  Polymer({
    is: 'feature-page',

    ready: function() {
      this.name = Polymer.dom(this).querySelector('.name').innerHTML;
      this.featuresUrl = window.config.apiServer + '/api/features/' + this.name;
    },

    formSubmit: function() {
      var featureFlags = Polymer.dom(this).querySelectorAll('feature-page-environment-status');
      var status = {};

      for (i = 0; i < featureFlags.length; i++) {
        status[featureFlags[i].getName()] = featureFlags[i].getStatus();
      }

      var feature = {name: this.name, status: status}
      httpRequestHandler.sendRequest('PATCH', this.featuresUrl, feature, this.handleFeatureResponse.bind(this));
    },

    handleFeatureResponse: function(err) {
      if (err !== undefined) {
        this.$.error.innerHTML = err;
      } else {
        window.location.replace('/');
      }
    }
  });
  </script>
</dom-module>
