<dom-module id="feature-page-environment-status">
  <template>
    <style>
    :host {
      margin: 10px 40px 50px 40px;
      font-weight: 700;
      color: #000;
    }

    .environment-group {
      margin: 10px;
    }

    h5 ::content {
      margin: 0;
      line-height: 38px;
    }

    input[type=checkbox] {
      position: relative;
      float: left;
      margin-right: 30px;
      visibility: hidden;
      color: #ffffff;
      cursor: pointer;
    }

    input[type=checkbox]:after {
      content: "\2718";
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 20px;
      font-size: 15px;
      font-weight: 400;
      text-align: center;
      line-height: 30px;
      visibility: visible;
      background: #e74c3c;
      cursor: pointer;
    }

    input[type=checkbox]:checked:after {
        content: "✔";
        color: white;
        background: #2ecc71;
    }
    </style>

    <div class="environment-group">
      <input id="status" type="checkbox" checked={{enabled}}>
      <h5><content class="this" select=".name"></content></h5>
    </div>
  </template>

  <script>
  Polymer({
    is: 'feature-page-environment-status',
    properties: {
      enabled: {
        type: Boolean,
        value: false
      }
    },

    getName: function() {
      return Polymer.dom(this).querySelector('.name').innerHTML;
    },

    getStatus: function() {
      return this.$.status.checked;
    }
  });
  </script>
</dom-module>

<dom-module id="feature-page">
  <template>
    <style>
      h1 {
        font-weight: 700;
      }

      h1 ::content * {
        display: inline;
      }

      h5 ::content * {
        display: inline;
      }

      button {
        display: block;
        padding: 10px 20px;
        margin: 5px 0;
        font-size: 17px;
        border-style: none;
        color: white;
        background-color: #e74c3c;
        -webkit-box-shadow: 3px 3px 0px 0px rgba(192,57,43,1);
        -moz-box-shadow: 3px 3px 0px 0px rgba(192,57,43,1);
        box-shadow: 3px 3px 0px 0px rgba(192,57,43,1);
        clear: both;
      }

      button:active {
        margin-top: 8px;
        margin-left: 3px;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(192,57,43,1);
        -moz-box-shadow: 0px 0px 0px 0px rgba(192,57,43,1);
        box-shadow: 0px 0px 0px 0px rgba(192,57,43,1);
      }

      button:focus {
        outline:0;
      }
    </style>

    <div id="error"></div>
    <h1>Feature <content select=".name"></content></h1>
    <h5>Created at: <content select=".created-at"></content></h5>
    <content select="feature-page-environment-status"></content>
    <button on-click="formSubmit">Save</button>
  </template>
  <script>
  Polymer({
    is: 'feature-page',

    ready: function() {
      this.name = Polymer.dom(this).querySelector('.name').innerHTML;
      this.featuresUrl = window.config.apiServer + '/api/features/' + this.name;
    },

    formSubmit: function() {
      var featureFlags = Polymer.dom(this).querySelectorAll('feature-page-environment-status');
      var status = {};

      for (i = 0; i < featureFlags.length; i++) {
        status[featureFlags[i].getName()] = featureFlags[i].getStatus();
      }

      var feature = {name: this.name, status: status}
      httpRequestHandler.sendRequest('PATCH', this.featuresUrl, feature, this.handleFeatureResponse.bind(this));
    },

    handleFeatureResponse: function(err) {
      if (err !== undefined) {
        this.$.error.innerHTML = err;
      } else {
        window.location.replace('/');
      }
    }
  });
  </script>
</dom-module>
