.lk-button {
  background: white;
  border-radius: 3px;
  border: 1px solid #413496;
  color: #413496;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 16px;
}

.lk-button + .lk-button {
  margin-left: 8px;
}

.lk-button:focus {
  outline: 0;
}

.lk-button--primary {
  background: #6c5fc7;
  border-color: #413496;
  color: #fff;
}

.lk-button--primary:hover {
  background-color: #5b4cc0;
}

.lk-button--disabled {
  background-color: whitesmoke;
  border-color: lightgray;
  color: gray;
  cursor: default;
}
