.lk-feature-list {
  width: 100%;
}

.lk-feature-list a {
  text-decoration: none;
  padding: 2vw;
  display: block;
  border-radius: 3px;
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .lk-feature-list a {
    padding: 1vw;
  }
}

.lk-feature-list a:hover {
  background: #f8fafd;
  cursor: pointer;
}
.lk-feature-list__name {
  color: #2f2936;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

.lk-feature-list__time {
  font-size: 14px;
  color: #7c6a8e;
}
