.lk-header {
  background-color: #342c3e;
  color: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.03);
}

.lk-header__nav {
  width: 100%;
}

.lk-header .lk-header__nav-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lk-header a {
  color: #b9b2d0;
  text-decoration: none;
  font-size: calc(1rem * 0.9);
}

.lk-header a:hover {
  color: #fff;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}
