.lk-header {
  background-color: #342c3e;
  color: #fff;
  padding: 15px 30px 10px;
  margin-bottom: 30px;
  box-shadow: 0 2px 0 rgba(0,0,0,.03);
}

.lk-header__wrapper {
  display: flex;
}

.lk-header ul {
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

.lk-header ul + ul {
  margin-left: auto;
}

.lk-header li {
  display: inline;
}

.lk-header li + li {
  margin-left: 20px;
}

.lk-header a {
  color: #b9b2d0;
  text-decoration: none;
}

.lk-header a:hover {
  color: #fff;
  cursor: pointer;
  transition: color .2s linear;
}
