.lk-tag {
  background-color: #ededed;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
  color: #333333;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  padding: 3px 4px;
}

.lk-tag + .lk-tag {
  margin-left: 10px;
}

.lk-tag--success {
  background-color: #bfe5bf;
  color: #2a332a;
}
