<script src="../../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {
    // Homepage
    page('/', function () {
      app.route = 'home';
    });

    page('/feature-flag/:id', function(ctx) {
      app.route = 'feature-flag';
      var v = document.getElementById('feature-flag-element');

      var tempFn = doT.template('<feature-flag><h1>You selected feature number {{=it.id}}</h1></feature-flag>');
      var resultText = tempFn(ctx.params);

      v.innerHTML = resultText;
    });

    page({});
  });
</script>
