<script src="../../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {
    // Homepage
    page('/', function () {
      app.route = 'home';
    });

    page('/feature-page/:name', function(ctx) {
      app.route = 'feature-page';
      var v = document.getElementById('feature-page');

      var tempFn = doT.template('<feature-page name="{{=it.name}}"></feature-page>');
      var resultText = tempFn(ctx.params);

      v.innerHTML = resultText;
    });

    page({});
  });
</script>
