<script src="../../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {
    var feature;
    var environments;

    function featureRequestListener () {
      feature = JSON.parse(this.responseText);
      handleRequests();
    };

    function environmentRequestistener () {
      environments = JSON.parse(this.responseText);
      handleRequests();
    };

    function handleRequests () {
      if (feature != null && environments != null) {
        var featureInfo = '\
        <feature-page> \
          <div class="name">{{=it.feature.name}}</div> \
          <div class="created-at">{{=it.feature.created_at}}</div> \
          {{~ it.environments :environment }} \
            <feature-page-environment-status {{? it.feature.status[environment.name] }} enabled {{?}}> \
              <div class="name">{{=environment.name}}</div> \
            </feature-page-environment-status> \
          {{~}} \
        </feature-page>';

        var v = document.getElementById('feature-page');
        var tempFn = doT.template(featureInfo);
        var resultText = tempFn({feature: feature, environments: environments});
        v.innerHTML = resultText;
      }
    };

    // Homepage
    page('/', function () {
      app.route = 'home';
    });

    page('/feature-page/:name', function(ctx) {
      app.route = 'feature-page';

      var environmentsUrl = window.config.apiServer + '/api/environments';
      var featuresUrl = window.config.apiServer + '/api/features/' + ctx.params.name;

      var environmentRequest = new XMLHttpRequest();
      environmentRequest.addEventListener('load', environmentRequestistener);
      environmentRequest.open('GET', environmentsUrl, true);
      environmentRequest.send();

      var featureRequest = new XMLHttpRequest();
      featureRequest.addEventListener('load', featureRequestListener);
      featureRequest.open('GET', featuresUrl, true);
      featureRequest.send();
    });

    page({});
  });
</script>
