<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="features-table">
  <template>
    <style>
      table {
        width: 100%;
        border: 1px solid #bdc3c7;
        border-collapse: collapse;
        background-color: white;
      }

      th, td {
        padding: 10px 20px;
        border-bottom: 1px solid #bdc3c7;
      }

      tr {
        background-color: #ffffff;
      }

      tr:not(:first-child):hover {
        background-color: #ecf0f1;
        cursor: pointer;
      }

      p {
        text-align: center;
      }

      .enabled {
        color: #2ecc71;
      }

      .disabled {
        color: #e74c3c;
      }
    </style>

    <iron-ajax auto
        url=[[featuresUrl]]
        handle-as="json"
        last-response="{{featuresData}}"></iron-ajax>

    <iron-ajax auto
        url=[[environmentsUrl]]
        handle-as="json"
        last-response="{{environmentsData}}"></iron-ajax>

      <table>
        <tr>
          <th></th>
          <template is="dom-repeat" items="[[environmentsData]]">
            <th><h4>[[item.name]]</h4></th>
          </template>
        </tr>
        <template is="dom-repeat" items="[[featuresData]]" as="f">
          <tr on-click="selectRow" data-href="/feature-page/[[f.name]]">
            <td><h4>[[f.name]]</h4></td>
            <template is="dom-repeat" items="[[environmentsData]]" as="e">
              <td>
                <template is="dom-if" if="[[!getValue(f.status, e.name)]]">
                  <!--<input type="checkbox" name="status" value="false" disabled>-->
                  <p class="disabled">&#x2718;</p>
                </template>
                <template is="dom-if" if="[[getValue(f.status, e.name)]]">
                  <!--<input type="checkbox" name="status" value="true" disabled checked>-->
                  <p class="enabled">&#10004;</p>
                </template>
              </td>
            </template>
          </tr>
        </template>
      </table>
  </template>

  <script>
  Polymer({
    is: 'features-table',

    ready: function() {
      this.environmentsUrl = window.config.apiServer + '/api/environments';
      this.featuresUrl = window.config.apiServer + '/api/features';
    },

   selectRow: function(e) {
      for (i = 0; i < e.path.length; i++) {
        if (e.path[i].nodeName == 'TR') {
          page(e.path[i].dataHref);
        }
      }
    },

    getValue: function(obj, key) {
      return obj[key];
    }
  });
  </script>
</dom-module>
